In [60]:
from tqdm import tqdm
import pandas as pd
from binance.client import Client

import numpy as np
import ta
from ta.volatility import BollingerBands, AverageTrueRange
import re as re
from sqlalchemy.sql import exists  
from sqlalchemy import select
import sqlalchemy as db
from sqlalchemy.orm import sessionmaker, relationship

In [61]:
client = Client()

In [62]:
from sqlalchemy import create_engine

pd.set_option("display.max_rows", 100, "display.max_columns", 100)

In [63]:
coins = ('BTCUSDT','ETHUSDT','BNBUSDT','SOLUSDT','ADAUSDT','XRPUSDT','DOTUSDT','LUNAUSDT',
  'DOGEUSDT','AVAXUSDT','SHIBUSDT','MATICUSDT','LTCUSDT','UNIUSDT','ALGOUSDT','TRXUSDT',
         'LINKUSDT','MANAUSDT','ATOMUSDT','VETUSDT')

In [64]:
fast = 7
slow = 25

In [65]:
def getminutedata(symbol, lookback):
    frame = pd.DataFrame(client.get_historical_klines(symbol,'1m',lookback + ' days ago UTC' ))

    frame = frame.iloc[:,:6]
    frame.drop_duplicates()
    frame.columns = ['Time','Open','High','Low','Close','Volume']
    frame[['Open','High','Low','Close','Volume']] = frame[['Open','High','Low','Close','Volume']].astype(float)
    frame.Time = pd.to_datetime(frame.Time, unit='ms')
    return frame

In [66]:
engine = db.create_engine('sqlite:///Cryptoprices3.db', echo = True)

In [67]:
Session = sessionmaker(bind=engine)
session = Session()

In [68]:
#users = session.query(Time)
#exists = db.session.query(User.id).filter_by(name='davidism').first() is not None

In [69]:
#

In [70]:
for coin in tqdm(coins):
    getminutedata(coin,'1').to_sql(coin, engine,if_exists="append", index=False)

  0%|          | 0/20 [00:00<?, ?it/s]

2022-01-16 22:55:34,931 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BTCUSDT")
2022-01-16 22:55:34,932 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:34,935 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("BTCUSDT")
2022-01-16 22:55:34,936 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:34,941 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:34,943 INFO sqlalchemy.engine.Engine
CREATE TABLE "BTCUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:34,945 INFO sqlalchemy.engine.Engine [no key 0.00199s] ()
2022-01-16 22:55:34,957 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:34,975 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:34,998 INFO sqlalchemy.engine.Engine INSERT INTO "BTCUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:34,999 INFO sqlalchemy.engine.Engine [generated in 0.01905s] (('2022-01-15 21:56:00.000000', 43289.63, 43331.42, 43288.55, 43326.23, 30.58938), ('2022-01-15 21:57:00.000000', 43324.5, 43335.42, 43310.06, 43311.23, 9.38515), ('2022-01-15 21:58:00.000000', 43313.58, 43330.32, 43309.17, 43318.37, 4.68691), ('2022-01-15 21:59:00.000000', 43318.37, 43327.33, 43294.2, 43296.72, 14.56433), ('2022-01-15 22:00:00.000000', 43296.72, 43335.0, 43296.71, 43330.59, 10.65186), ('2022-01-15 22:01:00.000000', 43330.59, 43339.01, 43320.37, 43323.61, 10.39666), ('2022-01-15 22:02:00.000000', 43323.61, 43330.56, 43317.96, 43327.97, 14.02235), ('2022-01-15 22:03:00.000000', 43327.96, 43327.97, 43296.92, 43309.94, 10.43989)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 43000.0, 43010.44, 42991.36, 42991.36, 6.16939), ('2022-01-16 21:55:00.000000', 42991.36, 42999.92, 42977.27, 42995.65, 1.59458))
2022-01-16 22:55:35,006 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:35,024 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:35,025 INFO sqlalchemy.engine.Engine [raw sql] ()

  5%|▌         | 1/20 [00:01<00:26,  1.40s/it]

2022-01-16 22:55:37,110 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ETHUSDT")
2022-01-16 22:55:37,112 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:37,114 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ETHUSDT")
2022-01-16 22:55:37,116 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:37,120 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:37,122 INFO sqlalchemy.engine.Engine
CREATE TABLE "ETHUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:37,124 INFO sqlalchemy.engine.Engine [no key 0.00170s] ()
2022-01-16 22:55:37,134 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:37,154 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:37,175 INFO sqlalchemy.engine.Engine INSERT INTO "ETHUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:37,176 INFO sqlalchemy.engine.Engine [generated in 0.01702s] (('2022-01-15 21:56:00.000000', 3334.59, 3335.59, 3333.33, 3335.59, 92.5034), ('2022-01-15 21:57:00.000000', 3335.4, 3335.85, 3334.31, 3334.37, 63.6275), ('2022-01-15 21:58:00.000000', 3334.68, 3335.92, 3334.26, 3335.17, 47.8171), ('2022-01-15 21:59:00.000000', 3335.16, 3335.64, 3333.33, 3333.33, 136.8845), ('2022-01-15 22:00:00.000000', 3333.33, 3335.91, 3333.33, 3335.38, 78.5049), ('2022-01-15 22:01:00.000000', 3335.38, 3336.78, 3334.78, 3334.95, 104.4842), ('2022-01-15 22:02:00.000000', 3334.79, 3336.55, 3334.78, 3336.0, 219.3376), ('2022-01-15 22:03:00.000000', 3336.0, 3336.27, 3334.3, 3335.0, 55.7919)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 3331.5, 3332.55, 3331.08, 3331.08, 20.9756), ('2022-01-16 21:55:00.000000', 3331.38, 3332.55, 3330.8, 3332.55, 11.7974))
2022-01-16 22:55:37,185 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:37,201 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:37,202 INFO sqlalchemy.engine.Engine [raw sql] ()

 10%|█         | 2/20 [00:03<00:33,  1.86s/it]

2022-01-16 22:55:41,002 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BNBUSDT")
2022-01-16 22:55:41,003 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:41,006 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("BNBUSDT")
2022-01-16 22:55:41,008 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:41,010 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:41,012 INFO sqlalchemy.engine.Engine
CREATE TABLE "BNBUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:41,013 INFO sqlalchemy.engine.Engine [no key 0.00081s] ()
2022-01-16 22:55:41,021 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:41,037 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:41,051 INFO sqlalchemy.engine.Engine INSERT INTO "BNBUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:41,052 INFO sqlalchemy.engine.Engine [generated in 0.01022s] (('2022-01-15 21:56:00.000000', 494.9, 495.2, 494.8, 495.2, 495.78), ('2022-01-15 21:57:00.000000', 495.2, 495.3, 494.8, 494.8, 278.198), ('2022-01-15 21:58:00.000000', 494.9, 495.2, 494.8, 495.0, 385.791), ('2022-01-15 21:59:00.000000', 495.0, 495.1, 493.6, 494.5, 1754.701), ('2022-01-15 22:00:00.000000', 494.5, 495.0, 494.5, 495.0, 180.8), ('2022-01-15 22:01:00.000000', 495.0, 495.1, 494.9, 495.0, 152.361), ('2022-01-15 22:02:00.000000', 494.9, 495.2, 494.9, 495.0, 220.368), ('2022-01-15 22:03:00.000000', 495.0, 495.1, 494.7, 494.9, 308.373)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 499.3, 499.4, 499.2, 499.3, 112.421), ('2022-01-16 21:55:00.000000', 499.2, 499.2, 499.0, 499.2, 101.607))
2022-01-16 22:55:41,059 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:41,078 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:41,080 INFO sqlalchemy.engine.Engine [raw sql] ()

 15%|█▌        | 3/20 [00:07<00:47,  2.78s/it]

2022-01-16 22:55:45,292 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SOLUSDT")
2022-01-16 22:55:45,293 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:45,296 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SOLUSDT")
2022-01-16 22:55:45,297 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:45,301 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:45,303 INFO sqlalchemy.engine.Engine
CREATE TABLE "SOLUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:45,304 INFO sqlalchemy.engine.Engine [no key 0.00128s] ()
2022-01-16 22:55:45,314 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:45,334 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:45,353 INFO sqlalchemy.engine.Engine INSERT INTO "SOLUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:45,354 INFO sqlalchemy.engine.Engine [generated in 0.01706s] (('2022-01-15 21:56:00.000000', 148.13, 148.25, 148.1, 148.22, 528.77), ('2022-01-15 21:57:00.000000', 148.22, 148.24, 148.11, 148.14, 213.3), ('2022-01-15 21:58:00.000000', 148.15, 148.21, 148.1, 148.14, 108.32), ('2022-01-15 21:59:00.000000', 148.15, 148.2, 148.0, 148.0, 213.62), ('2022-01-15 22:00:00.000000', 148.01, 148.1, 148.01, 148.05, 217.1), ('2022-01-15 22:01:00.000000', 148.05, 148.44, 148.05, 148.29, 1245.51), ('2022-01-15 22:02:00.000000', 148.29, 148.4, 148.29, 148.4, 271.94), ('2022-01-15 22:03:00.000000', 148.36, 148.45, 148.21, 148.31, 832.33)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 146.72, 146.79, 146.72, 146.72, 162.15), ('2022-01-16 21:55:00.000000', 146.72, 146.82, 146.65, 146.82, 272.59))
2022-01-16 22:55:45,365 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:45,386 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:45,388 INFO sqlalchemy.engine.Engine [raw sql] ()

 20%|██        | 4/20 [00:11<00:54,  3.38s/it]

2022-01-16 22:55:49,019 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADAUSDT")
2022-01-16 22:55:49,021 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:49,024 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ADAUSDT")
2022-01-16 22:55:49,025 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:49,030 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:49,032 INFO sqlalchemy.engine.Engine
CREATE TABLE "ADAUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:49,034 INFO sqlalchemy.engine.Engine [no key 0.00155s] ()
2022-01-16 22:55:49,049 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:49,067 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:49,092 INFO sqlalchemy.engine.Engine INSERT INTO "ADAUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:49,093 INFO sqlalchemy.engine.Engine [generated in 0.02167s] (('2022-01-15 21:56:00.000000', 1.308, 1.309, 1.307, 1.307, 26441.2), ('2022-01-15 21:57:00.000000', 1.307, 1.309, 1.307, 1.307, 57959.2), ('2022-01-15 21:58:00.000000', 1.308, 1.308, 1.307, 1.308, 4420.7), ('2022-01-15 21:59:00.000000', 1.308, 1.308, 1.307, 1.308, 12386.7), ('2022-01-15 22:00:00.000000', 1.308, 1.309, 1.307, 1.309, 79882.3), ('2022-01-15 22:01:00.000000', 1.308, 1.309, 1.308, 1.308, 22334.5), ('2022-01-15 22:02:00.000000', 1.308, 1.31, 1.308, 1.309, 35904.1), ('2022-01-15 22:03:00.000000', 1.31, 1.31, 1.307, 1.308, 77953.1)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 1.396, 1.397, 1.395, 1.396, 77115.2), ('2022-01-16 21:55:00.000000', 1.396, 1.397, 1.395, 1.396, 28898.3))
2022-01-16 22:55:49,101 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:49,119 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:49,120 INFO sqlalchemy.engine.Engine [raw sql] ()

 25%|██▌       | 5/20 [00:15<00:52,  3.51s/it]

2022-01-16 22:55:50,723 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("XRPUSDT")
2022-01-16 22:55:50,725 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:50,728 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("XRPUSDT")
2022-01-16 22:55:50,729 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:50,733 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:50,734 INFO sqlalchemy.engine.Engine
CREATE TABLE "XRPUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:50,736 INFO sqlalchemy.engine.Engine [no key 0.00156s] ()
2022-01-16 22:55:50,744 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:50,758 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:50,777 INFO sqlalchemy.engine.Engine INSERT INTO "XRPUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:50,778 INFO sqlalchemy.engine.Engine [generated in 0.01603s] (('2022-01-15 21:56:00.000000', 0.7832, 0.7833, 0.7829, 0.7832, 94061.0), ('2022-01-15 21:57:00.000000', 0.7833, 0.7836, 0.7833, 0.7834, 100969.0), ('2022-01-15 21:58:00.000000', 0.7835, 0.7837, 0.7832, 0.7835, 51681.0), ('2022-01-15 21:59:00.000000', 0.7834, 0.7834, 0.7826, 0.7826, 160027.0), ('2022-01-15 22:00:00.000000', 0.7826, 0.7835, 0.7826, 0.7832, 55554.0), ('2022-01-15 22:01:00.000000', 0.7833, 0.7834, 0.7829, 0.7829, 57751.0), ('2022-01-15 22:02:00.000000', 0.7829, 0.7832, 0.7824, 0.783, 161930.0), ('2022-01-15 22:03:00.000000', 0.783, 0.7831, 0.7823, 0.7825, 283711.0)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 0.7769, 0.7769, 0.7767, 0.7767, 17166.0), ('2022-01-16 21:55:00.000000', 0.7767, 0.7771, 0.7766, 0.7771, 6573.0))
2022-01-16 22:55:50,785 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:50,803 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:50,804 INFO sqlalchemy.engine.Engine [raw sql] ()

 30%|███       | 6/20 [00:17<00:40,  2.89s/it]

2022-01-16 22:55:52,209 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("DOTUSDT")
2022-01-16 22:55:52,209 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:52,211 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("DOTUSDT")
2022-01-16 22:55:52,212 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:52,215 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:52,216 INFO sqlalchemy.engine.Engine
CREATE TABLE "DOTUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:52,217 INFO sqlalchemy.engine.Engine [no key 0.00114s] ()
2022-01-16 22:55:52,225 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:52,239 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:52,249 INFO sqlalchemy.engine.Engine INSERT INTO "DOTUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:52,250 INFO sqlalchemy.engine.Engine [generated in 0.00817s] (('2022-01-15 21:56:00.000000', 27.88, 27.9, 27.84, 27.87, 3060.72), ('2022-01-15 21:57:00.000000', 27.88, 27.91, 27.87, 27.87, 5969.46), ('2022-01-15 21:58:00.000000', 27.87, 27.89, 27.86, 27.86, 3807.14), ('2022-01-15 21:59:00.000000', 27.87, 27.88, 27.82, 27.83, 4666.9), ('2022-01-15 22:00:00.000000', 27.84, 27.91, 27.83, 27.9, 4197.0), ('2022-01-15 22:01:00.000000', 27.91, 27.92, 27.88, 27.88, 4672.01), ('2022-01-15 22:02:00.000000', 27.88, 27.94, 27.88, 27.94, 1983.38), ('2022-01-15 22:03:00.000000', 27.94, 27.94, 27.89, 27.9, 4779.86)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 27.55, 27.56, 27.52, 27.53, 1491.29), ('2022-01-16 21:55:00.000000', 27.53, 27.55, 27.52, 27.55, 1318.95))
2022-01-16 22:55:52,254 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:52,273 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:52,274 INFO sqlalchemy.engine.Engine [raw sql] ()

 35%|███▌      | 7/20 [00:18<00:31,  2.42s/it]

2022-01-16 22:55:53,492 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("LUNAUSDT")
2022-01-16 22:55:53,493 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:53,495 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("LUNAUSDT")
2022-01-16 22:55:53,495 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:53,497 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:53,498 INFO sqlalchemy.engine.Engine
CREATE TABLE "LUNAUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:53,498 INFO sqlalchemy.engine.Engine [no key 0.00056s] ()
2022-01-16 22:55:53,503 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:53,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:53,533 INFO sqlalchemy.engine.Engine INSERT INTO "LUNAUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:53,534 INFO sqlalchemy.engine.Engine [generated in 0.01531s] (('2022-01-15 21:56:00.000000', 86.91, 86.96, 86.8, 86.81, 3085.06), ('2022-01-15 21:57:00.000000', 86.81, 86.94, 86.8, 86.82, 1504.38), ('2022-01-15 21:58:00.000000', 86.81, 87.04, 86.81, 86.99, 2699.62), ('2022-01-15 21:59:00.000000', 87.01, 87.25, 86.96, 87.0, 11859.04), ('2022-01-15 22:00:00.000000', 87.01, 87.04, 86.87, 86.98, 3478.12), ('2022-01-15 22:01:00.000000', 86.99, 87.22, 86.98, 87.16, 3003.92), ('2022-01-15 22:02:00.000000', 87.16, 87.3, 87.13, 87.14, 4080.77), ('2022-01-15 22:03:00.000000', 87.14, 87.2, 87.1, 87.16, 2397.14)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 85.02, 85.08, 85.01, 85.01, 106.09), ('2022-01-16 21:55:00.000000', 85.01, 85.06, 84.96, 85.06, 769.95))
2022-01-16 22:55:53,543 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:53,553 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:53,554 INFO sqlalchemy.engine.Engine [raw sql] ()

 40%|████      | 8/20 [00:19<00:24,  2.06s/it]

2022-01-16 22:55:55,019 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("DOGEUSDT")
2022-01-16 22:55:55,020 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:55,023 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("DOGEUSDT")
2022-01-16 22:55:55,025 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:55,029 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:55,031 INFO sqlalchemy.engine.Engine
CREATE TABLE "DOGEUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:55,032 INFO sqlalchemy.engine.Engine [no key 0.00095s] ()
2022-01-16 22:55:55,040 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:55,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:55,080 INFO sqlalchemy.engine.Engine INSERT INTO "DOGEUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:55,081 INFO sqlalchemy.engine.Engine [generated in 0.01807s] (('2022-01-15 21:56:00.000000', 0.1861, 0.1862, 0.186, 0.186, 307340.0), ('2022-01-15 21:57:00.000000', 0.186, 0.1863, 0.186, 0.1862, 162473.0), ('2022-01-15 21:58:00.000000', 0.1862, 0.1863, 0.1862, 0.1862, 38844.0), ('2022-01-15 21:59:00.000000', 0.1863, 0.1864, 0.1862, 0.1862, 418738.0), ('2022-01-15 22:00:00.000000', 0.1863, 0.1864, 0.1862, 0.1863, 171334.0), ('2022-01-15 22:01:00.000000', 0.1863, 0.1867, 0.1863, 0.1866, 300891.0), ('2022-01-15 22:02:00.000000', 0.1865, 0.1867, 0.1865, 0.1867, 172711.0), ('2022-01-15 22:03:00.000000', 0.1867, 0.1868, 0.1864, 0.1864, 201073.0)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 0.1774, 0.1775, 0.1773, 0.1774, 120687.0), ('2022-01-16 21:55:00.000000', 0.1773, 0.1774, 0.1772, 0.1774, 99878.0))
2022-01-16 22:55:55,088 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:55,107 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:55,108 INFO sqlalchemy.engine.Engine [raw sql] ()

 45%|████▌     | 9/20 [00:21<00:20,  1.90s/it]

2022-01-16 22:55:56,270 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("AVAXUSDT")
2022-01-16 22:55:56,272 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:56,275 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("AVAXUSDT")
2022-01-16 22:55:56,276 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:56,279 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:56,280 INFO sqlalchemy.engine.Engine
CREATE TABLE "AVAXUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:56,281 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2022-01-16 22:55:56,288 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:56,302 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:56,321 INFO sqlalchemy.engine.Engine INSERT INTO "AVAXUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:56,323 INFO sqlalchemy.engine.Engine [generated in 0.01494s] (('2022-01-15 21:56:00.000000', 93.0, 93.19, 93.0, 93.18, 820.32), ('2022-01-15 21:57:00.000000', 93.19, 93.2, 93.07, 93.08, 176.91), ('2022-01-15 21:58:00.000000', 93.08, 93.12, 92.98, 93.03, 359.22), ('2022-01-15 21:59:00.000000', 93.04, 93.06, 92.9, 92.92, 530.82), ('2022-01-15 22:00:00.000000', 92.94, 93.1, 92.94, 93.09, 574.22), ('2022-01-15 22:01:00.000000', 93.09, 93.2, 93.07, 93.15, 548.89), ('2022-01-15 22:02:00.000000', 93.15, 93.23, 93.15, 93.18, 353.28), ('2022-01-15 22:03:00.000000', 93.2, 93.2, 93.11, 93.16, 652.83)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 92.46, 92.5, 92.45, 92.45, 188.56), ('2022-01-16 21:55:00.000000', 92.46, 92.49, 92.39, 92.49, 868.97))
2022-01-16 22:55:56,330 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:56,348 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:56,349 INFO sqlalchemy.engine.Engine [raw sql] ()

 50%|█████     | 10/20 [00:22<00:16,  1.70s/it]

2022-01-16 22:55:57,569 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SHIBUSDT")
2022-01-16 22:55:57,571 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:57,573 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SHIBUSDT")
2022-01-16 22:55:57,574 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:57,577 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:57,580 INFO sqlalchemy.engine.Engine
CREATE TABLE "SHIBUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:57,581 INFO sqlalchemy.engine.Engine [no key 0.00111s] ()
2022-01-16 22:55:57,590 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:57,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:57,628 INFO sqlalchemy.engine.Engine INSERT INTO "SHIBUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:57,629 INFO sqlalchemy.engine.Engine [generated in 0.01797s] (('2022-01-15 21:56:00.000000', 3.09e-05, 3.093e-05, 3.09e-05, 3.092e-05, 2933124098.0), ('2022-01-15 21:57:00.000000', 3.092e-05, 3.092e-05, 3.09e-05, 3.091e-05, 1477133865.0), ('2022-01-15 21:58:00.000000', 3.092e-05, 3.092e-05, 3.09e-05, 3.091e-05, 1207211231.0), ('2022-01-15 21:59:00.000000', 3.092e-05, 3.092e-05, 3.09e-05, 3.091e-05, 1586322663.0), ('2022-01-15 22:00:00.000000', 3.09e-05, 3.093e-05, 3.09e-05, 3.092e-05, 1196452889.0), ('2022-01-15 22:01:00.000000', 3.093e-05, 3.094e-05, 3.092e-05, 3.093e-05, 1144107862.0), ('2022-01-15 22:02:00.000000', 3.093e-05, 3.096e-05, 3.092e-05, 3.095e-05, 1048202809.0), ('2022-01-15 22:03:00.000000', 3.096e-05, 3.096e-05, 3.092e-05, 3.093e-05, 1539016696.0)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 3.044e-05, 3.044e-05, 3.043e-05, 3.043e-05, 1510144452.0), ('2022-01-16 21:55:00.000000', 3.043e-05, 3.044e-05, 3.042e-05, 3.044e-05, 986484512.0))
2022-01-16 22:55:57,639 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:57,661 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:57,662 INFO sqlalchemy.engine.Engine [raw sql] ()

 55%|█████▌    | 11/20 [00:24<00:14,  1.58s/it]

2022-01-16 22:55:58,852 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("MATICUSDT")
2022-01-16 22:55:58,853 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:58,854 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("MATICUSDT")
2022-01-16 22:55:58,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:55:58,857 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:58,857 INFO sqlalchemy.engine.Engine
CREATE TABLE "MATICUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:55:58,859 INFO sqlalchemy.engine.Engine [no key 0.00066s] ()
2022-01-16 22:55:58,864 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:58,874 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:55:58,894 INFO sqlalchemy.engine.Engine INSERT INTO "MATICUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:55:58,896 INFO sqlalchemy.engine.Engine [generated in 0.01902s] (('2022-01-15 21:56:00.000000', 2.364, 2.368, 2.364, 2.368, 102427.6), ('2022-01-15 21:57:00.000000', 2.368, 2.369, 2.367, 2.367, 11453.0), ('2022-01-15 21:58:00.000000', 2.367, 2.369, 2.366, 2.368, 63179.9), ('2022-01-15 21:59:00.000000', 2.369, 2.369, 2.366, 2.366, 10822.2), ('2022-01-15 22:00:00.000000', 2.367, 2.37, 2.367, 2.369, 24661.6), ('2022-01-15 22:01:00.000000', 2.37, 2.374, 2.37, 2.373, 39371.5), ('2022-01-15 22:02:00.000000', 2.372, 2.374, 2.371, 2.374, 16242.2), ('2022-01-15 22:03:00.000000', 2.374, 2.374, 2.37, 2.372, 42136.7)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 2.308, 2.311, 2.308, 2.309, 102007.3), ('2022-01-16 21:55:00.000000', 2.308, 2.31, 2.307, 2.31, 21694.8))
2022-01-16 22:55:58,910 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:55:58,928 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:55:58,929 INFO sqlalchemy.engine.Engine [raw sql] ()

 60%|██████    | 12/20 [00:25<00:11,  1.49s/it]

2022-01-16 22:56:00,065 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("LTCUSDT")
2022-01-16 22:56:00,066 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:00,070 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("LTCUSDT")
2022-01-16 22:56:00,071 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:00,076 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:00,079 INFO sqlalchemy.engine.Engine
CREATE TABLE "LTCUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:00,080 INFO sqlalchemy.engine.Engine [no key 0.00159s] ()
2022-01-16 22:56:00,092 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:00,115 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:00,153 INFO sqlalchemy.engine.Engine INSERT INTO "LTCUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:00,155 INFO sqlalchemy.engine.Engine [generated in 0.03380s] (('2022-01-15 21:56:00.000000', 147.9, 148.0, 147.8, 147.8, 173.671), ('2022-01-15 21:57:00.000000', 147.9, 148.0, 147.8, 147.8, 85.059), ('2022-01-15 21:58:00.000000', 147.9, 148.0, 147.8, 147.9, 63.07), ('2022-01-15 21:59:00.000000', 147.9, 148.0, 147.8, 147.8, 61.899), ('2022-01-15 22:00:00.000000', 147.9, 148.1, 147.9, 148.0, 129.392), ('2022-01-15 22:01:00.000000', 148.0, 148.1, 147.9, 148.0, 112.226), ('2022-01-15 22:02:00.000000', 147.9, 148.0, 147.8, 147.8, 186.985), ('2022-01-15 22:03:00.000000', 147.9, 147.9, 147.7, 147.7, 527.177)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 146.6, 146.8, 146.6, 146.7, 31.811), ('2022-01-16 21:55:00.000000', 146.6, 146.7, 146.5, 146.6, 159.583))
2022-01-16 22:56:00,171 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:00,192 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:00,193 INFO sqlalchemy.engine.Engine [raw sql] ()

 65%|██████▌   | 13/20 [00:26<00:09,  1.42s/it]

2022-01-16 22:56:01,503 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("UNIUSDT")
2022-01-16 22:56:01,505 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:01,508 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("UNIUSDT")
2022-01-16 22:56:01,510 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:01,516 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:01,518 INFO sqlalchemy.engine.Engine
CREATE TABLE "UNIUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:01,520 INFO sqlalchemy.engine.Engine [no key 0.00195s] ()
2022-01-16 22:56:01,534 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:01,555 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:01,588 INFO sqlalchemy.engine.Engine INSERT INTO "UNIUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:01,590 INFO sqlalchemy.engine.Engine [generated in 0.02824s] (('2022-01-15 21:57:00.000000', 16.55, 16.56, 16.54, 16.55, 514.03), ('2022-01-15 21:58:00.000000', 16.55, 16.56, 16.55, 16.56, 63.95), ('2022-01-15 21:59:00.000000', 16.56, 16.56, 16.54, 16.54, 1890.86), ('2022-01-15 22:00:00.000000', 16.55, 16.56, 16.55, 16.56, 53.9), ('2022-01-15 22:01:00.000000', 16.56, 16.56, 16.54, 16.54, 229.56), ('2022-01-15 22:02:00.000000', 16.54, 16.57, 16.54, 16.57, 1065.24), ('2022-01-15 22:03:00.000000', 16.56, 16.56, 16.54, 16.54, 1349.75), ('2022-01-15 22:04:00.000000', 16.54, 16.56, 16.54, 16.54, 540.46)  ... displaying 10 of 1439 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 17.88, 17.88, 17.87, 17.88, 285.81), ('2022-01-16 21:55:00.000000', 17.87, 17.89, 17.87, 17.89, 1281.98))
2022-01-16 22:56:01,607 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:01,628 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:01,630 INFO sqlalchemy.engine.Engine [raw sql] ()

 70%|███████   | 14/20 [00:28<00:08,  1.42s/it]

2022-01-16 22:56:03,017 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ALGOUSDT")
2022-01-16 22:56:03,019 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:03,022 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ALGOUSDT")
2022-01-16 22:56:03,023 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:03,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:03,033 INFO sqlalchemy.engine.Engine
CREATE TABLE "ALGOUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:03,035 INFO sqlalchemy.engine.Engine [no key 0.00174s] ()
2022-01-16 22:56:03,047 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:03,069 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:03,105 INFO sqlalchemy.engine.Engine INSERT INTO "ALGOUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:03,107 INFO sqlalchemy.engine.Engine [generated in 0.02874s] (('2022-01-15 21:57:00.000000', 1.3881, 1.3887, 1.3875, 1.3882, 4298.0), ('2022-01-15 21:58:00.000000', 1.3882, 1.3889, 1.3878, 1.3878, 8496.0), ('2022-01-15 21:59:00.000000', 1.3882, 1.3882, 1.3865, 1.3869, 7820.0), ('2022-01-15 22:00:00.000000', 1.3867, 1.3879, 1.3861, 1.3879, 2399.0), ('2022-01-15 22:01:00.000000', 1.3879, 1.388, 1.3852, 1.3862, 44865.0), ('2022-01-15 22:02:00.000000', 1.3864, 1.3896, 1.3864, 1.3888, 12022.0), ('2022-01-15 22:03:00.000000', 1.3888, 1.3888, 1.387, 1.3878, 16319.0), ('2022-01-15 22:04:00.000000', 1.3878, 1.3878, 1.3847, 1.3851, 6577.0)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:55:00.000000', 1.4306, 1.4321, 1.4302, 1.4319, 4389.0), ('2022-01-16 21:56:00.000000', 1.432, 1.432, 1.4319, 1.4319, 668.0))
2022-01-16 22:56:03,124 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:03,146 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:03,148 INFO sqlalchemy.engine.Engine [raw sql] ()

 75%|███████▌  | 15/20 [00:29<00:07,  1.45s/it]

2022-01-16 22:56:04,390 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("TRXUSDT")
2022-01-16 22:56:04,391 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:04,394 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("TRXUSDT")
2022-01-16 22:56:04,396 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:04,402 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:04,405 INFO sqlalchemy.engine.Engine
CREATE TABLE "TRXUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:04,407 INFO sqlalchemy.engine.Engine [no key 0.00218s] ()
2022-01-16 22:56:04,414 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:04,436 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:04,478 INFO sqlalchemy.engine.Engine INSERT INTO "TRXUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:04,481 INFO sqlalchemy.engine.Engine [generated in 0.03985s] (('2022-01-15 21:57:00.000000', 0.06868, 0.06869, 0.06864, 0.06864, 297489.0), ('2022-01-15 21:58:00.000000', 0.06864, 0.06867, 0.06863, 0.06864, 299384.2), ('2022-01-15 21:59:00.000000', 0.06865, 0.06865, 0.06862, 0.06862, 784977.7), ('2022-01-15 22:00:00.000000', 0.06862, 0.06866, 0.0686, 0.06866, 264610.7), ('2022-01-15 22:01:00.000000', 0.06866, 0.06869, 0.06865, 0.06869, 182598.2), ('2022-01-15 22:02:00.000000', 0.06868, 0.06871, 0.06868, 0.06871, 172510.9), ('2022-01-15 22:03:00.000000', 0.0687, 0.0687, 0.06866, 0.06868, 171018.1), ('2022-01-15 22:04:00.000000', 0.06868, 0.06868, 0.06867, 0.06867, 51490.5)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:55:00.000000', 0.06946, 0.06952, 0.06945, 0.06951, 473933.1), ('2022-01-16 21:56:00.000000', 0.06952, 0.06952, 0.06952, 0.06952, 291.2))
2022-01-16 22:56:04,497 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:04,523 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:04,524 INFO sqlalchemy.engine.Engine [raw sql] ()

 80%|████████  | 16/20 [00:30<00:05,  1.43s/it]

2022-01-16 22:56:05,660 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("LINKUSDT")
2022-01-16 22:56:05,661 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:05,664 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("LINKUSDT")
2022-01-16 22:56:05,665 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:05,671 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:05,673 INFO sqlalchemy.engine.Engine
CREATE TABLE "LINKUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:05,674 INFO sqlalchemy.engine.Engine [no key 0.00151s] ()
2022-01-16 22:56:05,685 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:05,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:05,734 INFO sqlalchemy.engine.Engine INSERT INTO "LINKUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:05,735 INFO sqlalchemy.engine.Engine [generated in 0.02867s] (('2022-01-15 21:57:00.000000', 25.42, 25.43, 25.39, 25.39, 466.52), ('2022-01-15 21:58:00.000000', 25.4, 25.42, 25.4, 25.41, 114.05), ('2022-01-15 21:59:00.000000', 25.4, 25.41, 25.38, 25.38, 2545.27), ('2022-01-15 22:00:00.000000', 25.39, 25.42, 25.39, 25.41, 495.84), ('2022-01-15 22:01:00.000000', 25.4, 25.41, 25.4, 25.4, 564.3), ('2022-01-15 22:02:00.000000', 25.41, 25.54, 25.41, 25.5, 12916.14), ('2022-01-15 22:03:00.000000', 25.51, 25.51, 25.46, 25.47, 1565.72), ('2022-01-15 22:04:00.000000', 25.48, 25.5, 25.48, 25.5, 681.93)  ... displaying 10 of 1439 total bound parameter sets ...  ('2022-01-16 21:54:00.000000', 25.66, 25.69, 25.66, 25.67, 491.22), ('2022-01-16 21:55:00.000000', 25.67, 25.67, 25.66, 25.67, 292.2))
2022-01-16 22:56:05,750 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:05,771 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:05,773 INFO sqlalchemy.engine.Engine [raw sql] ()

 85%|████████▌ | 17/20 [00:32<00:04,  1.37s/it]

2022-01-16 22:56:06,958 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("MANAUSDT")
2022-01-16 22:56:06,959 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:06,964 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("MANAUSDT")
2022-01-16 22:56:06,966 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:06,972 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:06,975 INFO sqlalchemy.engine.Engine
CREATE TABLE "MANAUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:06,976 INFO sqlalchemy.engine.Engine [no key 0.00118s] ()
2022-01-16 22:56:06,986 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:07,005 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:07,028 INFO sqlalchemy.engine.Engine INSERT INTO "MANAUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:07,030 INFO sqlalchemy.engine.Engine [generated in 0.01957s] (('2022-01-15 21:57:00.000000', 3.0039, 3.0044, 3.0025, 3.0027, 2577.0), ('2022-01-15 21:58:00.000000', 3.0035, 3.0063, 3.0021, 3.0021, 8706.0), ('2022-01-15 21:59:00.000000', 3.0031, 3.0034, 3.0004, 3.0004, 4580.0), ('2022-01-15 22:00:00.000000', 3.0008, 3.0038, 3.0006, 3.0014, 2788.0), ('2022-01-15 22:01:00.000000', 3.0024, 3.0029, 3.0, 3.0003, 21360.0), ('2022-01-15 22:02:00.000000', 3.0001, 3.0015, 2.9995, 3.0005, 4319.0), ('2022-01-15 22:03:00.000000', 3.0005, 3.0005, 2.9987, 2.9991, 6410.0), ('2022-01-15 22:04:00.000000', 2.9995, 2.9995, 2.9957, 2.9966, 3537.0)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:55:00.000000', 3.1053, 3.1075, 3.1021, 3.1072, 17092.0), ('2022-01-16 21:56:00.000000', 3.1073, 3.1075, 3.1067, 3.1073, 2975.0))
2022-01-16 22:56:07,039 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:07,057 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:07,058 INFO sqlalchemy.engine.Engine [raw sql] ()

 90%|█████████ | 18/20 [00:33<00:02,  1.35s/it]

2022-01-16 22:56:08,238 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ATOMUSDT")
2022-01-16 22:56:08,240 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:08,243 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ATOMUSDT")
2022-01-16 22:56:08,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:08,253 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:08,256 INFO sqlalchemy.engine.Engine
CREATE TABLE "ATOMUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:08,258 INFO sqlalchemy.engine.Engine [no key 0.00204s] ()
2022-01-16 22:56:08,271 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:08,293 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:08,334 INFO sqlalchemy.engine.Engine INSERT INTO "ATOMUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:08,335 INFO sqlalchemy.engine.Engine [generated in 0.03424s] (('2022-01-15 21:57:00.000000', 39.97, 40.03, 39.96, 39.96, 1213.62), ('2022-01-15 21:58:00.000000', 39.96, 39.98, 39.95, 39.97, 441.28), ('2022-01-15 21:59:00.000000', 39.98, 40.0, 39.95, 39.97, 2223.98), ('2022-01-15 22:00:00.000000', 39.97, 40.02, 39.97, 39.98, 1557.76), ('2022-01-15 22:01:00.000000', 39.98, 40.0, 39.97, 39.97, 666.36), ('2022-01-15 22:02:00.000000', 39.97, 40.01, 39.97, 39.99, 490.02), ('2022-01-15 22:03:00.000000', 39.99, 40.01, 39.97, 40.0, 756.9), ('2022-01-15 22:04:00.000000', 40.0, 40.0, 39.9, 39.92, 1544.18)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:55:00.000000', 42.28, 42.3, 42.22, 42.28, 890.3), ('2022-01-16 21:56:00.000000', 42.29, 42.29, 42.27, 42.28, 16.67))
2022-01-16 22:56:08,352 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:08,375 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:08,377 INFO sqlalchemy.engine.Engine [raw sql] ()

 95%|█████████▌| 19/20 [00:34<00:01,  1.34s/it]

2022-01-16 22:56:09,672 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("VETUSDT")
2022-01-16 22:56:09,674 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,679 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("VETUSDT")
2022-01-16 22:56:09,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,686 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:09,688 INFO sqlalchemy.engine.Engine
CREATE TABLE "VETUSDT" (
	"Time" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT
)


2022-01-16 22:56:09,691 INFO sqlalchemy.engine.Engine [no key 0.00322s] ()
2022-01-16 22:56:09,703 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:09,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-16 22:56:09,740 INFO sqlalchemy.engine.Engine INSERT INTO "VETUSDT" ("Time", "Open", "High", "Low", "Close", "Volume") VALUES (?, ?, ?, ?, ?, ?)
2022-01-16 22:56:09,742 INFO sqlalchemy.engine.Engine [generated in 0.01897s] (('2022-01-15 21:57:00.000000', 0.07883, 0.07884, 0.07875, 0.07879, 294388.0), ('2022-01-15 21:58:00.000000', 0.07879, 0.07882, 0.07878, 0.0788, 45174.4), ('2022-01-15 21:59:00.000000', 0.07881, 0.07884, 0.07877, 0.07877, 87393.7), ('2022-01-15 22:00:00.000000', 0.07881, 0.07887, 0.07879, 0.07885, 184965.1), ('2022-01-15 22:01:00.000000', 0.07885, 0.07886, 0.07885, 0.07885, 50043.1), ('2022-01-15 22:02:00.000000', 0.07884, 0.07888, 0.07884, 0.07886, 134281.7), ('2022-01-15 22:03:00.000000', 0.07884, 0.07885, 0.07878, 0.0788, 108603.7), ('2022-01-15 22:04:00.000000', 0.07882, 0.07882, 0.07876, 0.07878, 55032.6)  ... displaying 10 of 1440 total bound parameter sets ...  ('2022-01-16 21:55:00.000000', 0.07816, 0.07822, 0.07814, 0.07819, 33562.7), ('2022-01-16 21:56:00.000000', 0.07821, 0.07821, 0.0782, 0.0782, 13129.7))
2022-01-16 22:56:09,758 INFO sqlalchemy.engine.Engine COMMIT
2022-01-16 22:56:09,776 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:09,778 INFO sqlalchemy.engine.Engine [raw sql] ()

100%|██████████| 20/20 [00:36<00:00,  1.81s/it]

In [71]:
df = test=pd.read_sql('BTCUSDT',engine).set_index('Time')

2022-01-16 22:56:09,824 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BTCUSDT")
2022-01-16 22:56:09,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,829 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:09,830 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,834 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("BTCUSDT")
2022-01-16 22:56:09,836 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,839 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:09,840 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:09,843 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("BTCUSDT")
2022-01-16 22:56:09,845 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,846 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("BTCUSDT")
2022-01-16 22:56:09,846 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,848 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:09,849 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:09,851 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BTCUSDT")
2022-01-16 22:56:09,854 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,857 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BTCUSDT")
2022-01-16 22:56:09,859 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,862 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BTCUSDT")
2022-01-16 22:56:09,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,865 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BTCUSDT")
2022-01-16 22:56:09,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:09,870 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:09,871 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:09,881 INFO sqlalchemy.engine.Engine SELECT "BTCUSDT"."Time", "BTCUSDT"."Open", "BTCUSDT"."High", "BTCUSDT"."Low", "BTCUSDT"."Close", "BTCUSDT"."Volume"
FROM "BTCUSDT"
2022-01-16 22:56:09,883 INFO sqlalchemy.engine.Engine [generated in 0.00180s] ()

In [72]:
df

                         Open      High       Low     Close    Volume
Time
2022-01-15 21:56:00  43289.63  43331.42  43288.55  43326.23  30.58938
2022-01-15 21:57:00  43324.50  43335.42  43310.06  43311.23   9.38515
2022-01-15 21:58:00  43313.58  43330.32  43309.17  43318.37   4.68691
2022-01-15 21:59:00  43318.37  43327.33  43294.20  43296.72  14.56433
2022-01-15 22:00:00  43296.72  43335.00  43296.71  43330.59  10.65186
...                       ...       ...       ...       ...       ...
2022-01-16 21:51:00  42973.51  42999.99  42965.18  42971.53   7.10585
2022-01-16 21:52:00  42968.34  42999.42  42968.34  42990.88   7.52637
2022-01-16 21:53:00  42990.88  43004.77  42988.44  43000.01   4.19960
2022-01-16 21:54:00  43000.00  43010.44  42991.36  42991.36   6.16939
2022-01-16 21:55:00  42991.36  42999.92  42977.27  42995.65   1.59458

[1440 rows x 5 columns]

In [73]:
def groups_from_conditions(cond1, cond2):
    '''
    assign a unique non-NaN integer to each group as defined by the rules
    '''
    n = len(cond1)
    
    group_idx = -1
    groups = np.zeros(n)

    curr_state = 0    # 0 = not in a group, 1 = in a group
    for n in range(n):
        if curr_state == 0:
            # Currently not in a group
            if cond1[n] == 1:
                # Detected start of a group. so:
                # switch the state to 1 ie in a group
                curr_state = 1
                # get a new group_idx
                group_idx = group_idx + 1
                # assign it to the output for element n
                groups[n] = group_idx
            else:
                # no start of the group detected, we are not in a group so mark as NaN
                groups[n] = np.NaN

        else: 
            # current_state == 1 so we are in a group
            if cond2[n] == 1:
                # detected end of group -- switch state to 0
                curr_state = 0
            # as we are in a group assign current group_idx. Note that this happens for the element
            # for which cond2[n] == 1 as well, ie this element is included
            groups[n] = group_idx

    return groups

In [74]:

def getMax(df2):
    test_cond1 = df2['buy'].values
    test_cond2 = df2['sell'].values
    test_groups = groups_from_conditions(test_cond1, test_cond2)
    test_df = pd.DataFrame({'buy' : test_cond1, 'sell' : test_cond2, 'groups' : test_groups})
    max = test_df['groups'].max()
    return max

In [75]:
class Strat:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

In [76]:


def technicals(df):
    df = df.copy()
    df = df.resample('5min').ffill()
    df.dropna(inplace=True)
    df['return'] = np.log(df.Close.pct_change()+ 1)
    df['SMA_fast'] = df.Close.rolling(7).mean()
    df['SMA_slow'] = df.Close.rolling(25).mean()
    df['position'] = np.where(df['SMA_fast'] > df['SMA_slow'],1,0)  # true or false = 1 eller 0
    df['strategyreturn'] = df['position'].shift(1)*df['return'] # when true enter next possible timestep
    df.dropna(inplace=True)
    return df

In [77]:
def bb(df):
    df = df.copy()
    df = df.resample('5min').ffill()
    df.dropna(inplace=True)
    bb_indicator = BollingerBands(df['Close'])
    df['return'] = np.log(df.Close.pct_change()+ 1)
    df['bb_high'] = bb_indicator.bollinger_hband()
    df['bb_low'] = bb_indicator.bollinger_lband()
    df['moving_avg'] = bb_indicator.bollinger_mavg()
    df['buy'] = np.where(df['Close'] < df['bb_low'], 1, 0).astype(float)
    df['sell'] = np.where(df['Close'] > df['bb_high'], 1, 0).astype(float)
    test_cond1 = df['buy'].values
    test_cond2 = df['sell'].values
    test_groups = groups_from_conditions(test_cond1, test_cond2)
    df['groups'] = test_groups
    df['position'] = np.where(df['groups'].isnull(),0,1)
    df['strategyreturn'] = df['position'].shift(1)*df['return'] # when true enter next possible timestep
    df.to_string("x")
    df.dropna(inplace=True)
    return df

In [78]:
for coin in coins:
    df = pd.read_sql(coin, engine).set_index('Time')
    print(coin)
    trades = technicals(df).position.diff().value_counts().iloc[1:].sum()
    print(trades)
    costs = trades * 0.00075
    print(np.exp(technicals(df)['return'].sum())-1)
    print(np.exp(technicals(df)[['strategyreturn']].sum())-1-costs)

    #iloc[1: exclude the first value which is total number of trades]

2022-01-16 22:56:10,483 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BTCUSDT")
2022-01-16 22:56:10,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,490 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:10,492 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,497 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("BTCUSDT")
2022-01-16 22:56:10,499 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,504 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,505 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:10,510 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("BTCUSDT")
2022-01-16 22:56:10,511 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,514 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("BTCUSDT")
2022-01-16 22:56:10,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,518 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,520 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:10,523 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BTCUSDT")
2022-01-16 22:56:10,525 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,528 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BTCUSDT")
2022-01-16 22:56:10,529 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,532 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BTCUSDT")
2022-01-16 22:56:10,533 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,536 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BTCUSDT")
2022-01-16 22:56:10,538 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,540 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,542 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:10,552 INFO sqlalchemy.engine.Engine SELECT "BTCUSDT"."Time", "BTCUSDT"."Open", "BTCUSDT"."High", "BTCUSDT"."Low", "BTCUSDT"."Close", "BTCUSDT"."Volume"
FROM "BTCUSDT"
2022-01-16 22:56:10,554 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ()
BTCUSDT
14
-0.0036419412779837845
strategyreturn   -0.025221
dtype: float64
2022-01-16 22:56:10,704 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ETHUSDT")
2022-01-16 22:56:10,706 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,713 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:10,715 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,719 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ETHUSDT")
2022-01-16 22:56:10,721 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,726 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,728 INFO sqlalchemy.engine.Engine [raw sql] ('ETHUSDT',)
2022-01-16 22:56:10,732 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ETHUSDT")
2022-01-16 22:56:10,734 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,736 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ETHUSDT")
2022-01-16 22:56:10,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,740 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,742 INFO sqlalchemy.engine.Engine [raw sql] ('ETHUSDT',)
2022-01-16 22:56:10,746 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ETHUSDT")
2022-01-16 22:56:10,747 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,751 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ETHUSDT")
2022-01-16 22:56:10,752 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,755 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ETHUSDT")
2022-01-16 22:56:10,756 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,759 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ETHUSDT")
2022-01-16 22:56:10,761 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,763 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,765 INFO sqlalchemy.engine.Engine [raw sql] ('ETHUSDT',)
2022-01-16 22:56:10,773 INFO sqlalchemy.engine.Engine SELECT "ETHUSDT"."Time", "ETHUSDT"."Open", "ETHUSDT"."High", "ETHUSDT"."Low", "ETHUSDT"."Close", "ETHUSDT"."Volume"
FROM "ETHUSDT"
2022-01-16 22:56:10,775 INFO sqlalchemy.engine.Engine [generated in 0.00185s] ()
ETHUSDT
15
0.0006936437013556063
strategyreturn   -0.026954
dtype: float64
2022-01-16 22:56:10,906 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BNBUSDT")
2022-01-16 22:56:10,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,915 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:10,917 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,922 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("BNBUSDT")
2022-01-16 22:56:10,923 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,929 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,930 INFO sqlalchemy.engine.Engine [raw sql] ('BNBUSDT',)
2022-01-16 22:56:10,934 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("BNBUSDT")
2022-01-16 22:56:10,936 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,939 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("BNBUSDT")
2022-01-16 22:56:10,940 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,943 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,946 INFO sqlalchemy.engine.Engine [raw sql] ('BNBUSDT',)
2022-01-16 22:56:10,949 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BNBUSDT")
2022-01-16 22:56:10,951 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,955 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BNBUSDT")
2022-01-16 22:56:10,956 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,958 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BNBUSDT")
2022-01-16 22:56:10,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,964 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BNBUSDT")
2022-01-16 22:56:10,965 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:10,969 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:10,970 INFO sqlalchemy.engine.Engine [raw sql] ('BNBUSDT',)
2022-01-16 22:56:10,976 INFO sqlalchemy.engine.Engine SELECT "BNBUSDT"."Time", "BNBUSDT"."Open", "BNBUSDT"."High", "BNBUSDT"."Low", "BNBUSDT"."Close", "BNBUSDT"."Volume"
FROM "BNBUSDT"
2022-01-16 22:56:10,978 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ()
BNBUSDT
12
0.008281155322157785
strategyreturn   -0.016107
dtype: float64
2022-01-16 22:56:11,131 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SOLUSDT")
2022-01-16 22:56:11,133 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,139 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:11,141 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,145 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("SOLUSDT")
2022-01-16 22:56:11,146 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,151 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,153 INFO sqlalchemy.engine.Engine [raw sql] ('SOLUSDT',)
2022-01-16 22:56:11,157 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("SOLUSDT")
2022-01-16 22:56:11,159 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,163 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("SOLUSDT")
2022-01-16 22:56:11,165 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,168 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,169 INFO sqlalchemy.engine.Engine [raw sql] ('SOLUSDT',)
2022-01-16 22:56:11,173 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("SOLUSDT")
2022-01-16 22:56:11,175 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,178 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("SOLUSDT")
2022-01-16 22:56:11,180 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,182 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("SOLUSDT")
2022-01-16 22:56:11,184 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,189 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("SOLUSDT")
2022-01-16 22:56:11,190 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,193 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,195 INFO sqlalchemy.engine.Engine [raw sql] ('SOLUSDT',)
2022-01-16 22:56:11,203 INFO sqlalchemy.engine.Engine SELECT "SOLUSDT"."Time", "SOLUSDT"."Open", "SOLUSDT"."High", "SOLUSDT"."Low", "SOLUSDT"."Close", "SOLUSDT"."Volume"
FROM "SOLUSDT"
2022-01-16 22:56:11,205 INFO sqlalchemy.engine.Engine [generated in 0.00264s] ()
SOLUSDT
16
-0.0066305818673876304
strategyreturn   -0.026831
dtype: float64
2022-01-16 22:56:11,344 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADAUSDT")
2022-01-16 22:56:11,347 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,354 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:11,355 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,360 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ADAUSDT")
2022-01-16 22:56:11,361 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,367 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,368 INFO sqlalchemy.engine.Engine [raw sql] ('ADAUSDT',)
2022-01-16 22:56:11,370 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ADAUSDT")
2022-01-16 22:56:11,371 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,374 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ADAUSDT")
2022-01-16 22:56:11,376 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,378 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,380 INFO sqlalchemy.engine.Engine [raw sql] ('ADAUSDT',)
2022-01-16 22:56:11,384 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ADAUSDT")
2022-01-16 22:56:11,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,389 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ADAUSDT")
2022-01-16 22:56:11,390 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,394 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ADAUSDT")
2022-01-16 22:56:11,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,396 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ADAUSDT")
2022-01-16 22:56:11,398 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,400 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,404 INFO sqlalchemy.engine.Engine [raw sql] ('ADAUSDT',)
2022-01-16 22:56:11,412 INFO sqlalchemy.engine.Engine SELECT "ADAUSDT"."Time", "ADAUSDT"."Open", "ADAUSDT"."High", "ADAUSDT"."Low", "ADAUSDT"."Close", "ADAUSDT"."Volume"
FROM "ADAUSDT"
2022-01-16 22:56:11,414 INFO sqlalchemy.engine.Engine [generated in 0.00167s] ()
ADAUSDT
12
0.07799227799227704
strategyreturn    0.032554
dtype: float64
2022-01-16 22:56:11,548 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("XRPUSDT")
2022-01-16 22:56:11,549 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,557 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:11,559 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,564 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("XRPUSDT")
2022-01-16 22:56:11,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,571 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,573 INFO sqlalchemy.engine.Engine [raw sql] ('XRPUSDT',)
2022-01-16 22:56:11,576 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("XRPUSDT")
2022-01-16 22:56:11,578 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,580 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("XRPUSDT")
2022-01-16 22:56:11,583 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,586 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,588 INFO sqlalchemy.engine.Engine [raw sql] ('XRPUSDT',)
2022-01-16 22:56:11,592 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("XRPUSDT")
2022-01-16 22:56:11,593 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,598 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("XRPUSDT")
2022-01-16 22:56:11,599 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,602 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("XRPUSDT")
2022-01-16 22:56:11,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,608 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("XRPUSDT")
2022-01-16 22:56:11,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,612 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,615 INFO sqlalchemy.engine.Engine [raw sql] ('XRPUSDT',)
2022-01-16 22:56:11,623 INFO sqlalchemy.engine.Engine SELECT "XRPUSDT"."Time", "XRPUSDT"."Open", "XRPUSDT"."High", "XRPUSDT"."Low", "XRPUSDT"."Close", "XRPUSDT"."Volume"
FROM "XRPUSDT"
2022-01-16 22:56:11,624 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ()
XRPUSDT
17
-0.00461124631740617
strategyreturn   -0.033373
dtype: float64
2022-01-16 22:56:11,747 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("DOTUSDT")
2022-01-16 22:56:11,750 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,756 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:11,757 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,762 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("DOTUSDT")
2022-01-16 22:56:11,764 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,769 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,771 INFO sqlalchemy.engine.Engine [raw sql] ('DOTUSDT',)
2022-01-16 22:56:11,774 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("DOTUSDT")
2022-01-16 22:56:11,776 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,778 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("DOTUSDT")
2022-01-16 22:56:11,780 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,783 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,785 INFO sqlalchemy.engine.Engine [raw sql] ('DOTUSDT',)
2022-01-16 22:56:11,789 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("DOTUSDT")
2022-01-16 22:56:11,791 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,795 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("DOTUSDT")
2022-01-16 22:56:11,796 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,799 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("DOTUSDT")
2022-01-16 22:56:11,800 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,804 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("DOTUSDT")
2022-01-16 22:56:11,805 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,809 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,811 INFO sqlalchemy.engine.Engine [raw sql] ('DOTUSDT',)
2022-01-16 22:56:11,818 INFO sqlalchemy.engine.Engine SELECT "DOTUSDT"."Time", "DOTUSDT"."Open", "DOTUSDT"."High", "DOTUSDT"."Low", "DOTUSDT"."Close", "DOTUSDT"."Volume"
FROM "DOTUSDT"
2022-01-16 22:56:11,819 INFO sqlalchemy.engine.Engine [generated in 0.00149s] ()
DOTUSDT
14
-0.006849315068492068
strategyreturn   -0.052506
dtype: float64
2022-01-16 22:56:11,939 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("LUNAUSDT")
2022-01-16 22:56:11,940 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,947 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:11,949 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,952 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("LUNAUSDT")
2022-01-16 22:56:11,954 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,959 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,960 INFO sqlalchemy.engine.Engine [raw sql] ('LUNAUSDT',)
2022-01-16 22:56:11,965 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("LUNAUSDT")
2022-01-16 22:56:11,967 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,970 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("LUNAUSDT")
2022-01-16 22:56:11,972 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,975 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:11,978 INFO sqlalchemy.engine.Engine [raw sql] ('LUNAUSDT',)
2022-01-16 22:56:11,981 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("LUNAUSDT")
2022-01-16 22:56:11,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,986 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("LUNAUSDT")
2022-01-16 22:56:11,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,990 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("LUNAUSDT")
2022-01-16 22:56:11,994 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:11,996 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("LUNAUSDT")
2022-01-16 22:56:11,998 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:12,001 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

In [79]:
for coin in coins:
    df = pd.read_sql(coin, engine).set_index('Time')
    print(coin)
    trades = bb(df)['groups'].max()
    print(trades)
    costs = trades * 0.00075
    print(np.exp(bb(df)['return'].sum())-1)
    print(np.exp(bb(df)[['return','strategyreturn']].sum())-1-costs)


    #iloc[1: exclude the first value which is total number of trades]

2022-01-16 22:56:14,695 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BTCUSDT")
2022-01-16 22:56:14,697 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,703 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:14,705 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,709 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("BTCUSDT")
2022-01-16 22:56:14,710 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,716 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:14,717 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:14,721 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("BTCUSDT")
2022-01-16 22:56:14,723 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,725 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("BTCUSDT")
2022-01-16 22:56:14,727 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,731 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:14,733 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:14,737 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BTCUSDT")
2022-01-16 22:56:14,738 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,743 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BTCUSDT")
2022-01-16 22:56:14,744 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,746 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BTCUSDT")
2022-01-16 22:56:14,748 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,752 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BTCUSDT")
2022-01-16 22:56:14,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:14,757 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:14,759 INFO sqlalchemy.engine.Engine [raw sql] ('BTCUSDT',)
2022-01-16 22:56:14,767 INFO sqlalchemy.engine.Engine SELECT "BTCUSDT"."Time", "BTCUSDT"."Open", "BTCUSDT"."High", "BTCUSDT"."Low", "BTCUSDT"."Close", "BTCUSDT"."Volume"
FROM "BTCUSDT"
2022-01-16 22:56:14,768 INFO sqlalchemy.engine.Engine [generated in 0.00165s] ()
BTCUSDT
1.0
-0.0010906134340900042
return           -0.001841
strategyreturn    0.002241
dtype: float64
2022-01-16 22:56:15,760 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ETHUSDT")
2022-01-16 22:56:15,762 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,768 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:15,770 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,774 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ETHUSDT")
2022-01-16 22:56:15,776 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,781 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:15,783 INFO sqlalchemy.engine.Engine [raw sql] ('ETHUSDT',)
2022-01-16 22:56:15,787 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ETHUSDT")
2022-01-16 22:56:15,788 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,792 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ETHUSDT")
2022-01-16 22:56:15,794 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,796 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:15,798 INFO sqlalchemy.engine.Engine [raw sql] ('ETHUSDT',)
2022-01-16 22:56:15,803 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ETHUSDT")
2022-01-16 22:56:15,804 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,807 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ETHUSDT")
2022-01-16 22:56:15,810 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,813 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ETHUSDT")
2022-01-16 22:56:15,815 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,817 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ETHUSDT")
2022-01-16 22:56:15,818 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:15,820 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:15,822 INFO sqlalchemy.engine.Engine [raw sql] ('ETHUSDT',)
2022-01-16 22:56:15,831 INFO sqlalchemy.engine.Engine SELECT "ETHUSDT"."Time", "ETHUSDT"."Open", "ETHUSDT"."High", "ETHUSDT"."Low", "ETHUSDT"."Close", "ETHUSDT"."Volume"
FROM "ETHUSDT"
2022-01-16 22:56:15,832 INFO sqlalchemy.engine.Engine [generated in 0.00174s] ()
ETHUSDT
3.0
0.013691885726517583
return            0.011442
strategyreturn    0.020099
dtype: float64
2022-01-16 22:56:16,736 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BNBUSDT")
2022-01-16 22:56:16,737 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,744 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:16,746 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,750 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("BNBUSDT")
2022-01-16 22:56:16,751 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,756 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:16,758 INFO sqlalchemy.engine.Engine [raw sql] ('BNBUSDT',)
2022-01-16 22:56:16,762 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("BNBUSDT")
2022-01-16 22:56:16,763 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,766 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("BNBUSDT")
2022-01-16 22:56:16,768 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,770 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:16,772 INFO sqlalchemy.engine.Engine [raw sql] ('BNBUSDT',)
2022-01-16 22:56:16,777 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BNBUSDT")
2022-01-16 22:56:16,778 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,782 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BNBUSDT")
2022-01-16 22:56:16,784 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,786 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("BNBUSDT")
2022-01-16 22:56:16,788 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,792 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("BNBUSDT")
2022-01-16 22:56:16,794 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:16,796 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:16,798 INFO sqlalchemy.engine.Engine [raw sql] ('BNBUSDT',)
2022-01-16 22:56:16,807 INFO sqlalchemy.engine.Engine SELECT "BNBUSDT"."Time", "BNBUSDT"."Open", "BNBUSDT"."High", "BNBUSDT"."Low", "BNBUSDT"."Close", "BNBUSDT"."Volume"
FROM "BNBUSDT"
2022-01-16 22:56:16,808 INFO sqlalchemy.engine.Engine [generated in 0.00159s] ()
BNBUSDT
2.0
0.005231762144203511
return            0.003732
strategyreturn    0.009013
dtype: float64
2022-01-16 22:56:17,813 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SOLUSDT")
2022-01-16 22:56:17,814 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,820 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:17,822 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,826 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("SOLUSDT")
2022-01-16 22:56:17,829 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,833 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:17,835 INFO sqlalchemy.engine.Engine [raw sql] ('SOLUSDT',)
2022-01-16 22:56:17,840 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("SOLUSDT")
2022-01-16 22:56:17,841 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,844 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("SOLUSDT")
2022-01-16 22:56:17,845 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,848 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:17,850 INFO sqlalchemy.engine.Engine [raw sql] ('SOLUSDT',)
2022-01-16 22:56:17,855 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("SOLUSDT")
2022-01-16 22:56:17,856 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,859 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("SOLUSDT")
2022-01-16 22:56:17,860 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,863 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("SOLUSDT")
2022-01-16 22:56:17,866 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,869 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("SOLUSDT")
2022-01-16 22:56:17,871 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:17,873 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:17,875 INFO sqlalchemy.engine.Engine [raw sql] ('SOLUSDT',)
2022-01-16 22:56:17,883 INFO sqlalchemy.engine.Engine SELECT "SOLUSDT"."Time", "SOLUSDT"."Open", "SOLUSDT"."High", "SOLUSDT"."Low", "SOLUSDT"."Close", "SOLUSDT"."Volume"
FROM "SOLUSDT"
2022-01-16 22:56:17,884 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ()
SOLUSDT
3.0
-0.012050222999266391
return           -0.014300
strategyreturn    0.000556
dtype: float64
2022-01-16 22:56:18,877 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADAUSDT")
2022-01-16 22:56:18,878 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,883 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:18,885 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,890 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ADAUSDT")
2022-01-16 22:56:18,892 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,897 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:18,898 INFO sqlalchemy.engine.Engine [raw sql] ('ADAUSDT',)
2022-01-16 22:56:18,903 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ADAUSDT")
2022-01-16 22:56:18,904 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,906 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("ADAUSDT")
2022-01-16 22:56:18,908 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,910 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:18,912 INFO sqlalchemy.engine.Engine [raw sql] ('ADAUSDT',)
2022-01-16 22:56:18,918 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ADAUSDT")
2022-01-16 22:56:18,920 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,923 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ADAUSDT")
2022-01-16 22:56:18,925 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,927 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ADAUSDT")
2022-01-16 22:56:18,929 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,933 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ADAUSDT")
2022-01-16 22:56:18,935 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:18,937 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:18,938 INFO sqlalchemy.engine.Engine [raw sql] ('ADAUSDT',)
2022-01-16 22:56:18,946 INFO sqlalchemy.engine.Engine SELECT "ADAUSDT"."Time", "ADAUSDT"."Open", "ADAUSDT"."High", "ADAUSDT"."Low", "ADAUSDT"."Close", "ADAUSDT"."Volume"
FROM "ADAUSDT"
2022-01-16 22:56:18,947 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ()
ADAUSDT
2.0
0.010039916464924303
return            0.008540
strategyreturn    0.018163
dtype: float64
2022-01-16 22:56:19,931 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("XRPUSDT")
2022-01-16 22:56:19,933 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,940 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:19,942 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,946 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("XRPUSDT")
2022-01-16 22:56:19,947 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,953 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:19,955 INFO sqlalchemy.engine.Engine [raw sql] ('XRPUSDT',)
2022-01-16 22:56:19,959 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("XRPUSDT")
2022-01-16 22:56:19,961 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,963 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("XRPUSDT")
2022-01-16 22:56:19,965 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,968 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:19,970 INFO sqlalchemy.engine.Engine [raw sql] ('XRPUSDT',)
2022-01-16 22:56:19,973 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("XRPUSDT")
2022-01-16 22:56:19,976 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,981 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("XRPUSDT")
2022-01-16 22:56:19,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,986 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("XRPUSDT")
2022-01-16 22:56:19,988 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,991 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("XRPUSDT")
2022-01-16 22:56:19,992 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:19,995 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:19,997 INFO sqlalchemy.engine.Engine [raw sql] ('XRPUSDT',)
2022-01-16 22:56:20,004 INFO sqlalchemy.engine.Engine SELECT "XRPUSDT"."Time", "XRPUSDT"."Open", "XRPUSDT"."High", "XRPUSDT"."Low", "XRPUSDT"."Close", "XRPUSDT"."Volume"
FROM "XRPUSDT"
2022-01-16 22:56:20,006 INFO sqlalchemy.engine.Engine [generated in 0.00154s] ()
XRPUSDT
4.0
0.003993814718218358
return            0.000994
strategyreturn    0.012819
dtype: float64
2022-01-16 22:56:20,759 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("DOTUSDT")
2022-01-16 22:56:20,760 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,767 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:20,768 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,773 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("DOTUSDT")
2022-01-16 22:56:20,774 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,779 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:20,781 INFO sqlalchemy.engine.Engine [raw sql] ('DOTUSDT',)
2022-01-16 22:56:20,784 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("DOTUSDT")
2022-01-16 22:56:20,786 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,789 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("DOTUSDT")
2022-01-16 22:56:20,791 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,795 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:20,797 INFO sqlalchemy.engine.Engine [raw sql] ('DOTUSDT',)
2022-01-16 22:56:20,801 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("DOTUSDT")
2022-01-16 22:56:20,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,806 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("DOTUSDT")
2022-01-16 22:56:20,808 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,812 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("DOTUSDT")
2022-01-16 22:56:20,813 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,816 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("DOTUSDT")
2022-01-16 22:56:20,818 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:20,821 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:20,822 INFO sqlalchemy.engine.Engine [raw sql] ('DOTUSDT',)
2022-01-16 22:56:20,830 INFO sqlalchemy.engine.Engine SELECT "DOTUSDT"."Time", "DOTUSDT"."Open", "DOTUSDT"."High", "DOTUSDT"."Low", "DOTUSDT"."Close", "DOTUSDT"."Volume"
FROM "DOTUSDT"
2022-01-16 22:56:20,831 INFO sqlalchemy.engine.Engine [generated in 0.00141s] ()
DOTUSDT
4.0
0.021492765919198575
return            0.018493
strategyreturn    0.033267
dtype: float64
2022-01-16 22:56:21,727 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("LUNAUSDT")
2022-01-16 22:56:21,728 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,735 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-16 22:56:21,736 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,741 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("LUNAUSDT")
2022-01-16 22:56:21,743 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,748 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:21,749 INFO sqlalchemy.engine.Engine [raw sql] ('LUNAUSDT',)
2022-01-16 22:56:21,753 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("LUNAUSDT")
2022-01-16 22:56:21,754 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,757 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("LUNAUSDT")
2022-01-16 22:56:21,758 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,761 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-16 22:56:21,763 INFO sqlalchemy.engine.Engine [raw sql] ('LUNAUSDT',)
2022-01-16 22:56:21,767 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("LUNAUSDT")
2022-01-16 22:56:21,769 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,771 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("LUNAUSDT")
2022-01-16 22:56:21,773 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,775 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("LUNAUSDT")
2022-01-16 22:56:21,777 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-16 22:56:21,780 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("LUNAUSDT")

In [80]:
bb(df).to_string('sdsdsssssss')

In [81]:
##df['EMA200'] = ta.trend.ema_indicator(df.Close, window=200)
#df['wf_Top_bool'] = np.where(df['High'].rolling(9, center=True).max(), True, False)

#0.075/100

In [82]:
bb(df)

,Open,High,Low,Close,Volume,return,bb_high,bb_low,moving_avg,buy,sell,groups,position,strategyreturn
Time,,,,,,,,,,,,,,
2022-01-16 00:05:00,0.07841,0.07841,0.07819,0.07823,691961.9,-0.003828,0.079171,0.078327,0.078749,1.0,0.0,0.0,1,-0.000000
2022-01-16 00:10:00,0.07837,0.07852,0.07837,0.07851,376276.7,0.003573,0.079166,0.078301,0.078733,0.0,0.0,0.0,1,0.003573
2022-01-16 00:15:00,0.07839,0.07843,0.07830,0.07835,1689491.6,-0.002040,0.079180,0.078252,0.078716,0.0,0.0,0.0,1,-0.002040
2022-01-16 00:20:00,0.07853,0.07855,0.07842,0.07842,189037.6,0.000893,0.079185,0.078223,0.078704,0.0,0.0,0.0,1,0.000893
2022-01-16 00:25:00,0.07851,0.07851,0.07849,0.07850,12297.6,0.001020,0.079183,0.078205,0.078694,0.0,0.0,0.0,1,0.001020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-16 21:35:00,0.07802,0.07807,0.07799,0.07806,137955.4,-0.002303,0.078555,0.078081,0.078318,1.0,0.0,4.0,1,-0.002303
2022-01-16 21:40:00,0.07797,0.07797,0.07793,0.07793,78267.7,-0.001667,0.078582,0.078007,0.078295,1.0,0.0,4.0,1,-0.001667
2022-01-16 21:45:00,0.07801,0.07807,0.07801,0.07803,373185.3,0.001282,0.078593,0.077984,0.078288,0.0,0.0,4.0,1,0.001282
2022-01-16 21:50:00,0.07805,0.07814,0.07805,0.07807,95769.0,0.000512,0.078591,0.077957,0.078274,0.0,0.0,4.0,1,0.000512
2022-01-16 21:55:00,0.07816,0.07822,0.07814,0.07819,33562.7,0.001536,0.078557,0.077959,0.078258,0.0,0.0,4.0,1,0.001536

In [83]:
def profits(df2):
    getMax(df2)
    fakeprofit = df2.groupby(groups_from_conditions(df2['buy'].values, df2['sell'].values))['return'].sum().to_frame().sum()
    fee = getMax(df2)*0.00075
    profit = fakeprofit - fee
    return profit